<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="topic-new-container col-md-offset-2 col-md-8">
        <div class="title">
          <p class="topic gray">投稿</p>
        </div>
        <div class="entry-field">
          <%= form_for @topic do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.label :image, class: "control-label" %>
              <%= f.file_field :image %>
            </div>
            <div class="form-group">
              <%= f.label :title, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :title  %>
              <%= f.text_field :title, class: "form-control" %>
            </div>
            
            <div class="left-form inline">
            <div class="form-group">
              <%= f.label :genre, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :genre  %>
              <%= f.select :genre, [["ブラフ", "ブラフ"], ["正体隠匿", "正体隠匿"], ["タイル配置", "タイル配置"], ["拡大再生産", "拡大再生産"], ["ドラフト", "ドラフト"], ["ワーカープレイスメント", "ワーカープレイスメント"] ,["陣取り", "陣取り"], ["デッキ構築", "デッキ構築"], ["競り", "競り"], ["協力", "協力"], ["表現", "表現"], ["アクション", "アクション"]] , :prompt => "選択してください", class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :participation, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :participation  %>
              <%= f.select :participation, [["1人", "1"], ["2人", "2"], ["3人", "3"], ["4人", "4"], ["5人", "5"], ["6人以上", "6"]], :prompt => "選択してください", class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :target_age, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :target_age  %>
              <%= f.select :target_age, [["2才以上", "2"], ["3才以上", "3"], ["4才以上", "4"], ["5才以上", "5"], ["6才以上", "6"], ["7才以上", "7"] ,["8才以上", "8"], ["9才以上", "9"], ["10才以上", "10"], ["11才以上", "11"], ["12才以上", "12"], ["13才以上", "13"], ["14才以上", "14"], ["15才以上", "15"]], :prompt => "選択してください", class:"form-control" %>
            </div>
            </div>
            
            <div class="right-form inline">
            <div class="form-group">
              <%= f.label :play_time, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :play_time  %>
              <%= f.select :play_time, [["10分", "10"], ["20分", "20"], ["30分", "30"], ["40分", "40"], ["50分", "50"], ["60分", "60"], ["70分", "70"], ["80分", "80"], ["90分", "90"], ["100分", "100"], ["110分", "110"], ["120分", "120"]], :prompt => "選択してください", class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :price, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :price  %>
              <%= f.select :price, [["500円", "500"], ["1000円代", "1000"], ["2000円代", "2000"], ["3000円代", "3000"], ["4000円代", "4000"], ["5000円以上", "5000"]], :prompt => "選択してください", class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :evalution, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :evalution  %>
              <%= f.select :evalution, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], :prompt => "選択してください", class:"form-control" %>
            </div>
            </div>
            
            <div class="form-group">
              <%= f.label :description, class:'control-label' %>
              <%= render "layouts/error_messages", model: f.object, sub: :description  %>
              <%= f.text_area :description, placeholder: 'レビューを記入しよう（500文字以内）', rows: 7,  class: "form-control" %>
            </div>
            <%= f.submit "登録", class: "form-control gray submit-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
