<% if topic != nil %>
  <div class="topics inline">
    <%= link_to "#", class: 'item' do %>
      <p><%= image_tag topic.image.url, class: 'image' %></p>
      <p class="title"><%= topic.title %></p>
      <p class="des gray"><%= topic.description %></p>
    <% end %>
    <%= link_to "#", class: 'item' do %>
      <p class="user-name">by <%= topic.user.name %></p>
    <% end %>
  </div>
<% end %>