<div class="user-edit-wrapper">
  <div class="container">
    <div class="row">
      
      <div class="user-edit-container col-md-offset-4 col-md-4">
        <div class="entry-field">
          <%= form_for @user do |f| %>
            <div class="form-group">
              <% if current_user.image? %>
                <%= image_tag current_user.image, class: "user-image" %>
              <% else %>
                <%= image_tag "man.jpeg", class: "def-image" %>
              <% end %>
              <label>
                <p class="inline btn btn-default image-btn">画像を選択</p>
                <%= f.file_field :image, id: 'user-image' %>
              </label>
            </div>
            <div class="form-group">
              <%= f.label :name, class:'control-label' %>
              <%= f.text_field :name, class: "gray form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :description, class:'control-label' %>
              <%= f.text_area :description, placeholder: '自己紹介を記入しよう（300文字以内）', row: 7, class: "form-control"%>
            </div>
            <div class="form-group">
              <%= f.hidden_field :password %>
            </div>
            <%= f.submit "変更を保存", class: "edit-btn gray form-control" %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>