<div class="user-show-wrapper top-blank">
  <div class="containe">
    <div class="row">
      
      <div class="up-user-show-container col-md-offset-2 col-md-8">
        <%= image_tag "live.jpg",class: "user-image inline" %>
        <div class="user-introduction inline">
          <h3><%= @user.name %></h3>
          <%= link_to "フォロー　", "#", class: "gray link" %>
          <p class="inline gray">|</p>
          <%= link_to "　フォロワー", "#", class: "gray link" %>
          <% if @user.description.present? %>
            <p class="self-introduction gray"><%= @user.description %></p> 
          <% end %>
        </div>
      </div>
      
      <div class="under-user-show-container">
        
      </div>
      
    </div>
  </div>
</div>