<div class="top-wrapper">
  
  <div class="top-container">
    <div class="images">
      <%= image_tag "game1.jpg",class: "game-image" %>
      <%= image_tag "game2.jpg",class: "game-image" %>
      <%= image_tag "game3.jpg",class: "game-image" %>
    </div>
    <div class="text-container">
      <h1 class="text center">お気に入りのゲームを見つけよう!</h1>
      <div class="buttoms center">
        <a href="#game_show", class="btn btn-default"><%= image_tag "card.png", class: "text-image" %>ゲーム一覧</a>
        <a href="#review_show", class="btn btn-default"><%= image_tag "comment2.png", class: "text-image" %>レビュー一覧</a>
        <a href="#rank_show", class="btn btn-default"><%= image_tag "ranking.png", class: "text-image" %>ランキング</a>
      </div>
    </div>
　</div>
　
　<div class="container">
　  <div class="row">
      <div class="row-container col-md-offset-1 col-md-10">
        <div id="game_show" class="item-container">
          <%= link_to "ゲーム一覧", games_path, class: "item-name" %>
          <div class="topic center">
            <% @games.first(5).each do |game| %>
              <div class="top-games">
                <%= link_to game_path(id: game.id), class: 'item' do %>
                  <%= render partial: "game_image", locals: { game: game } %>
                  <p class="game-title center"><%= game.title.truncate(10) %></p>
                  <div class="center">
                    <%= render partial: "evalution", locals: { game: game } %>
                    <p class="count">( <%= game.reviews.count %> 件)</p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        
        <div id="review_show" class="item-container">
          <%= link_to "レビュー一覧", reviews_path, class: "item-name" %>
          <div class="review-topic center">
            <% @reviews.first(5).each do |review| %>
              <div class="top-games">
                <%= link_to game_review_path(game_id: review.game_id, id: review.id), class: 'item' do %>
                  <%= render partial: "game_image", locals: { game: review.game } %>
                  <p class="game-title center"><%= review.game.title.truncate(10) %></p>
                  <p class="des"><%= review.comment.truncate(55) %></p>
                  <p class="user-name center">by <%= review.user.name %>  </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        
        <div id="rank_show" class="item-container">
          <%= link_to "ランキング", rank_games_path, class: "item-name" %>
          <div class="topic center">
            <div class="top-games">
              <% if @games_rank.first.present? %>
                <%= link_to game_path(id: @games_rank.first.id), class: 'item' do %>
                  <div class="game-image">
                    <div class="rank-background center">
                      <p class="rank">1</p>
                    </div>
                    <%= render partial: "game_image", locals: { game: @games_rank.first } %>
                  </div>
                  <%= render partial: "rank_game", locals: { game: @games_rank.first } %>
                <% end %>
              <% end %>
            </div>
            <div class="top-games">
              <% if @games_rank.second.present? %>
                <%= link_to game_path(id: @games_rank.second.id), class: 'item' do %>
                  <div class="game-image">
                    <div class="rank-background center">
                      <p class="rank">2</p>
                    </div>
                    <%= render partial: "game_image", locals: { game: @games_rank.second } %>
                  </div>
                  <%= render partial: "rank_game", locals: { game: @games_rank.second } %>
                <% end %>
              <% end %>
            </div>
            <div class="top-games">
              <% if @games_rank.third.present? %>
                <%= link_to game_path(id: @games_rank.third.id), class: 'item' do %>
                  <div class="game-image">
                    <div class="rank-background center">
                      <p class="rank">3</p>
                    </div>
                    <%= render partial: "game_image", locals: { game: @games_rank.third } %>
                  </div>
                  <%= render partial: "rank_game", locals: { game: @games_rank.third } %>
                <% end %>
              <% end %>
            </div>
            <div class="top-games">
              <% if @games_rank.fourth.present? %>
                <%= link_to game_path(id: @games_rank.fourth.id), class: 'item' do %>
                  <div class="game-image">
                    <div class="rank-background center">
                      <p class="rank">4</p>
                    </div>
                    <%= render partial: "game_image", locals: { game: @games_rank.fourth } %>
                  </div>
                  <%= render partial: "rank_game", locals: { game: @games_rank.fourth } %>
                <% end %>
              <% end %>
            </div>
            <div class="top-games">
              <% if @games_rank.fifth.present? %>
                <%= link_to game_path(id: @games_rank.fifth.id), class: 'item' do %>
                  <div class="game-image">
                    <div class="rank-background center">
                      <p class="rank">5</p>
                    </div>
                    <%= render partial: "game_image", locals: { game: @games_rank.fifth } %>
                  </div>
                  <%= render partial: "rank_game", locals: { game: @games_rank.fifth } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $(function() {
      $('.images').not('.slick-initialized').slick({
        autoplay: true,
        autoplaySpeed: 3000,
        });
     });
  </script>
  
  <script>
    $('a[href^="#"]').click(function() {
      var headerHight = 80;
      var speed = 400; 
      var href = $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top - headerHight;
      $('body,html').animate({scrollTop: position}, speed, 'swing');
      return false;
    });
  </script>
  
</div>
    