<% if game != nil %>
  <div class="topics inline">
    <%= link_to game_path(id: game.id), class: 'item' do %>
      <p class='center'><%= image_tag game.image.url, class: 'image' %></p>
      <p class="game-title center"><%= game.title.truncate(15) %></p>
      <p class="des"><%= game.description.truncate(100) %></p>
      <p class="eva center"><%= image_tag "star.jpeg", class: "star-image" %>  (　件)</p>
    <% end %>
  </div>
<% end %>
