<div class="medium-game-details inline">
  <% if game.image.present? %>
    <%= image_tag game.image.url, class: 'game-image' %>
  <% else %>
    <%= image_tag "live.jpg", class: 'game-image' %>
  <% end %>
</div>
<div class="right-game-details inline">
  <p class="game-title"><%= game.title %></p>
  <p class="game-description"><%= game.description.truncate(150) %></p>
    <div class="information">
      <div class="favorite item">
        <div class="left-item inline">
          <%= image_tag "heart.png", class: "heart" %>
        </div>
      <div class="right-item inline">
        <p class="details">お気に入り</p>
        <p class="details"><%= game.favorites.count %></p>
      </div>
    </div>
    <div class="evalution item">
      <div class="left-item inline">
        <%= image_tag "star.png", class: "star" %>
      </div>
      <div class="right-item inline">
        <p class="details"> 評価 </p>
        <% if game.reviews.present? %>
          <p class="details"><%= game.reviews.average(:evalution) %></p>
        <% else %>
          <p class="details">ー</p>
        <% end %>
      </div>
    </div>
    <div class="review item">
      <div class="left-item inline">
        <%= image_tag "comment1.png", class: "comment" %>
      </div>
      <div class="right-item inline">
        <p class="details">レビュー</p>
        <p class="details"><%= game.reviews.count %>件</p>
      </div>
    </div>
    <div class="participation item">
      <div class="left-item inline">
        <%= image_tag "groups.png", class: "group" %>
      </div>
      <div class="right-item inline">
        <p class="details">参加人数</p>
        <p class="details"><%= game.participation %></p>
      </div>
    </div>
    <div class="pray-time item">
      <div class="left-item inline">
        <%= image_tag "clock.png", class: "clock" %>
      </div>
      <div class="right-item inline">
        <p class="details">プレイ時間</p>
        <p class="details"><%= game.play_time %></p>
      </div>
    </div>
  </div>
</div>