<div class="rank-wrapper">
  <div class="container">
    <div class="row">
      <div class="rank-container col-md-offset-2 col-md-8">
        <div class="title-container">
          <p class="title gray">ランキング</p>
        </div>
        
        <div class="rank">
          <div class="game-details">
            <% if @games_rank.first.present? %>
              <%= render partial: "rank", locals: { ranking: "rank1.jpg" } %>
              <%= render partial: "rank_game", locals: { game: @games_rank.first } %>
            <% end %>
          </div>
          <div class="game-details">
            <% if @games_rank.second.present? %>
              <%= render partial: "rank", locals: { ranking: "rank2.jpg" } %>
              <%= render partial: "rank_game", locals: { game: @games_rank.second } %>
            <% end %>
          </div>
          <div class="game-details">
            <% if @games_rank.third.present? %>
              <%= render partial: "rank", locals: { ranking: "rank3.jpg" } %>
              <%= render partial: "rank_game", locals: { game: @games_rank.third } %>
            <% end %>
          </div>
          <div class="game-details">
            <% if @games_rank.fourth.present? %>
              <%= render partial: "rank", locals: { ranking: "rank4.jpg" } %>
              <%= render partial: "rank_game", locals: { game: @games_rank.fourth } %>
            <% end %>
          </div>
          <div class="game-details">
            <% if @games_rank.fifth.present? %>
              <%= render partial: "rank", locals: { ranking: "rank5.jpg" } %>
              <%= render partial: "rank_game", locals: { game: @games_rank.fifth } %>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

