<div class="game-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="game-show-container col-md-offset-2 col-md-8">
        
        <div class="title-container">
          <p class="title"><%= @game.title %></p>
        </div>
        
        <div class="explanation">
          <div class="left-container inline">
            <%= render partial: "pages/game_image", locals: { game: @game } %>
            <div class="favorite center">
              <% if !@game.favorite_users.include?(current_user) %>
                <%= link_to "お気に入り", favorites_path(game_id: @game.id), class: "btn btn-default",  method: :post %>
              <% else %>
                <%= link_to "お気に入り解除", favorites_path(game_id: @game.id), class: "btn btn-warning",  method: :delete %>
              <% end %>
            </div>
            <div class="reference">
              <%= render partial: "reference", locals: { game: @game } %>
            </div>
          </div>
        
          <div class="right-container inline">
            <div class="title-container">
              <p class="item-title gray">ゲーム内容</p>
            </div>
            <p class="description"><%= @game.description %></p>
            <div class="center">
              <%= link_to "説明文編集", edit_game_path(params[:id]), class: "btn btn-default" %>
          </div>
          </div>
        </div>
        
        <div class="review-container">
          <div class="review-title-container">
            <p class="item-title gray">レビュー</p></p>
          </div>
          <div class="link-btn">
            <%= link_to "レビューを書く", new_game_review_path(game_id: @game.id), class: "btn btn-default" %>
          </div>
          
          <div class="post">
            <% if @game.reviews.present? %>
              <% @game.reviews.each do |review| %>
                <div class="review-post">
                  <%= link_to game_review_path(game_id: review.game_id, id: review.id), class: "review-link" do %>
                    <div class="user-image-container inline">
                      <%= image_tag review.user.image.url, class: "user-image center" %>
                    </div>
                    <div class="comment-container inline">
                    <p class="comment-user-name"><%= review.user.name %>さんのレビュー</p>
                    <p class="comment"><%= review.comment.truncate(160) %></p>
                    <div class="eva-container">
                      <div class="inline eva" id="star-rate-<%= review.id %>"></div>
                        <script>
                          $('#star-rate-<%= review.id %>').raty({
                            size: 36,
                            starOff:  '<%= asset_path('star-off.png') %>',
                            starOn: '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            half: true,
                            readOnly: true,
                            score: <%= review.evalution %>,
                          });
                        </script>
                        <p class="inline eva"><%= review.evalution %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <p class="no-review center">投稿を募集しています</p>
            <% end %>
          </div>
          
        </div>
      
      </div>
    </div>
  </div>
</div>
