<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   
  </head>
  
  <body>
    <div class="all-container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <%= link_to "Games", root_path, class: "navbar-brand" %>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li class="nav-user">
                <%= link_to current_user.name, user_path(id: current_user.id) %>
              </li>
              <li class="gray">
                <p>|</p>
              </li>
              <li class="new-post">
                <%= link_to "ゲーム検索", games_path %>
              </li>
              <li class="gray">
                <p>|</p>
              </li>
              <li class="new-post">
                <%= link_to "レビュー一覧", "#" %>
              </li>
              <li class="gray">
                <p>|</p>
              </li>
              <li class="new-post">
                <%= link_to "ランキング", "#" %>
              </li>
              <li class="gray">
                <p>|</p>
              </li>
              <li class="nav-logout">
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-signin">
                <%= link_to "新規登録", new_user_path %>
              </li>
              <li class="gray">
                <p>|</p>
              </li>
              <li class="nav-login">
                <%= link_to "ログイン", login_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <div class="main">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
        <% end %>
        <%= yield %>
        <script>
          $(function() {
            $(".alert").fadeOut(5000);
          });
        </script>
      </div>
      <footer>
      <p class="footer-text gray center">Games</p>
      </footer>
    </div>
  </body>
</html>
